body{
    background-image: url(assets/dark.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center

}

@tailwind base;
@tailwind components;
@tailwind utilities;